[defaults]
inventory = inventory
remote_user = cloud-user
private_key_file = path_to/private_key_file
retry_files_enabled = False
gathering = explicit
host_key_checking = False
timeout = 600
stdout_callback = default
show_custom_stats = true
collections_path = ./.ansible/collections
roles_path = ./roles:../roles

; caching
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache
fact_caching_timeout = 0

[ssh_connection]
pipelining = False

[inventory]
enable_plugins = oracle.oci.oci
cache = false

[persistent_connection]
connect_timeout = 60
command_timeout = 60